.container
  .row
    .col-md-12
      %h1.glyphicon.glyphicon-list-alt All Your Notes
  .row
  - @notes.each do |note|
    .col-md-2
      %h2.glyphicon.glyphicon-tag= link_to note.title, note
      %p Passed: #{time_ago_in_words(note.created_at)}
      %p Priority: #{note.priority}

