.container
  .row
    
    .col-md-12
      %h1= @note.title
    
  .row
    
    .col-md-12
      %p= @note.content
      =link_to "All notes", root_path
      =link_to "Edit", edit_note_path(@note)
      =link_to "Delete", note_path(@note), method: :delete